{% extends 'base.html.twig' %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Mon Portfolio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navbarNav" aria-controls="navbarNav" 
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link active" href="/">Accueil</a></li>
        <li class="nav-item"><a class="nav-link" href="/about">À propos</a></li>
        <li class="nav-item"><a class="nav-link" href="/projects">Projets</a></li>
        <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<header class="bg-primary text-white text-center py-5">
    <div class="container">
        <h1 class="display-4">Bienvenue sur mon e‑Portfolio</h1>
        <p class="lead">Je suis Lubin Vezant, étudiant passionné.</p>
        <a href="/projects" class="btn btn-light btn-lg mt-3">Voir mes projets</a>
    </div>
</header>

<section class="py-5">
  <div class="container">
    <h2 class="text-center mb-4">Mes compétences</h2>
    <div class="row">
      <div class="col-md-4 text-center">
        <i class="bi bi-code-slash fs-1"></i>
        <h4>Développement Web</h4>
        <p>Symfony, PHP, JavaScript, HTML/CSS</p>
      </div>
      <div class="col-md-4 text-center">
        <i class="bi bi-palette fs-1"></i>
        <h4>Design</h4>
        <p>UI/UX, Bootstrap, Figma</p>
      </div>
      <div class="col-md-4 text-center">
        <i class="bi bi-database fs-1"></i>
        <h4>Bases de données</h4>
        <p>MySQL, PostgreSQL</p>
      </div>
    </div>
  </div>
</section>

{% endblock %}
